<section id="portfolio" class="container items-center py-20 mx-auto mt-8">
  <h1 class="mb-4 text-2xl text-center text-black">LATEST WORK</h1>
  <div class="grid grid-cols-3 gap-20 justify-evenly">
    <div class="flex flex-col" *ngFor="let item of portfolioData">
      <div class="py-5 px-10 bg-white h-[500px]">
        <img [src]="item.thumbnail" [alt]="item.title" class="service-icon" />
        <div>
          <h3 class="py-6 text-xl font-bold text-center text-black">
            {{ item.title }}
          </h3>
          <p class="text-[#898989] text-lg">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
